<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/admin">
        <img class="boss-logo" src="/assets/svg/boss-logo-01.svg" width="150" alt="Boss Analytics">
      </a>
  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" (click)="toggleNavbar()">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div class="navbar-menu" [class]="{ 'is-active': navbarToggle }" (click)="toggleNavbar(false)">
      <div class="navbar-start">
        <a class="navbar-custom-link navbar-item" routerLink="/admin"  routerLinkActive="is-active" [routerLinkActiveOptions]="{exact: true}">
          <span class="icon">
            <i class="fas fa-chart-pie"></i>
          </span>
          <span>Dashboard</span>
        </a>
        <a class="navbar-custom-link navbar-item" routerLink="usuarios" routerLinkActive="is-active">
          <span class="icon">
            <i class="fas fa-users"></i>
          </span>
          <span>Clientes</span>
        </a>
        <a class="navbar-custom-link navbar-item" routerLink="consultas" routerLinkActive="is-active">
          <span class="icon">
            <i class="fas fa-search"></i>
          </span>
          <span>Mesa de Crédito</span>
        </a>
        <a class="navbar-custom-link navbar-item" routerLink="faturas" routerLinkActive="is-active">
          <span class="icon">
            <i class="fas fa-receipt"></i>
          </span>
          <span>Faturas</span>
        </a>
        <!-- <a class="navbar-item" routerLink="conta" routerLinkActive="is-active">
          <span class="icon">
            <i class="fas fa-user"></i>
          </span>
          <span>Minha conta</span>
        </a> -->
        <!-- <a class="navbar-item" routerLink="ajuda" routerLinkActive="is-active">
          <span class="icon">
            <i class="fas fa-question-circle"></i>
          </span>
          <span>Ajuda</span>
        </a> -->
      </div>
      
      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            <span class="icon">
              <i class="fas fa-user"></i>
            </span>
            <span>Minha conta</span>
          </a>
      
          <div class="navbar-dropdown">
            <div class="navbar-item user">
              <div class="content has-text-dark">
                <h5 class="has-text-dark">{{ user.name.indexOf(' ') != -1 ? user.name.slice(0, user.name.indexOf(' ')) : user.name }}</h5>
                <p>
                  <small>{{ user.email }}</small>
                </p>
              </div>
            </div>
            <hr class="navbar-divider">
            <a class="navbar-item" href="javascript:;" (click)="logout()">
              <span class="icon">
                <i class="fas fa-sign-out-alt"></i>
              </span>
              <span>Sair</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
<div class="admin-banner">
  <i class="fas fa-user-shield"></i>
  Visão do Administrador
</div>
<div class="content-container has-background-white-ter">
  <router-outlet></router-outlet>
</div>
