<section class="section">
    <div class="container">
        <h1 class="title is-3">Dashboard</h1>
        <p class="subtitle">Acompanhe números e informações em tempo real.</p>
        <div class="columns mt-6 is-multiline">
            <div class="column is-3">
                <div class="box">
                    <h3 class="title is-2 mb-2">{{ reportsTotal }}</h3>
                    <p class="has-text-light">Análises Realizadas</p>
                </div>
            </div>
            <div class="column is-3"> 
                <div class="box">
                    <h3 class="title is-2 mb-2 has-text-primary">{{ reportsTotalPF }}</h3>
                    <p class="has-text-light">Análises Pessoa Física</p>
                </div>
            </div>
            <div class="column is-3">
                <div class="box">
                    <h3 class="title is-2 mb-2 has-text-link">{{ reportsTotalPJ }}</h3>
                    <p class="has-text-light">Análises Pessoa Jurídica</p>
                </div>
            </div>
            <div class="column is-3">
                <div class="box">
                    <h3 class="title is-2 mb-2 has-text-light">{{ investedAmount | currency: 'BRL' }}</h3>
                    <p class="has-text-light">Valor Investido</p>
                </div>
            </div>
            <div class="column is-6">
                <h2 class="title is-4">Tipos de Análise</h2>
                <div class="box">
                    <canvas baseChart
                        [data]="chartAnalysisTypes.data"
                        [labels]="chartAnalysisTypes.labels"
                        [options]="chartAnalysisTypes.options"
                        [colors]="chartAnalysisTypes.colors"
                        [chartType]="chartAnalysisTypes.type"
                        [legend]="true">
                    </canvas>
                </div>
            </div>
            <div class="column is-6">
                <h2 class="title is-4">Nº de Análises</h2>
                <div class="box">
                    <canvas baseChart
                        [datasets]="chartAnalysisNumbers.data"
                        [labels]="chartAnalysisNumbers.labels"
                        [options]="chartAnalysisNumbers.options"
                        [chartType]="chartAnalysisNumbers.type"
                        [legend]="true">
                    </canvas>
                </div>
            </div>
            <div class="column is-6">
                <h2 class="title is-4">Valor de Crédito Recomendado x Não Recomendado</h2>
                <div class="box">
                    <canvas baseChart
                        [datasets]="chartCredit.data"
                        [labels]="chartCredit.labels"
                        [options]="chartCredit.options"
                        [chartType]="chartCredit.type"
                        [legend]="true">
                </canvas>
                </div>
            </div>
            <div class="column is-6">
                <h2 class="title is-4">Recomendações %</h2>
                <div class="box">
                    <canvas baseChart
                        [data]="chartRecomendation.data"
                        [labels]="chartRecomendation.labels"
                        [options]="chartRecomendation.options"
                        [colors]="chartRecomendation.colors"
                        [chartType]="chartRecomendation.type"
                        [legend]="true">
                    </canvas>
                </div>
            </div>
        </div>
    </div>
</section>