<section class="section">
    <div class="container">
        <h1 class="title is-1">Usuários</h1>
        <button class="button is-primary" (click)="openCreateModal()">
            Cadastrar novo usuário
        </button>
        <table class="boss-an-table" *ngIf="users.length > 0">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>Email</th>
                    <!-- <th></th> -->
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let u of users">
                    <td>{{ u.name }}</td>
                    <td>{{ u.document | mask: 'CPF_CNPJ' }}</td>
                    <td>{{ u.email }}</td>
                    <!-- <td>
                        <button class="button is-light" (click)="editUser(r)">
                            Editar
                        </button>
                    </td> -->
                </tr>
            </tbody>
        </table>
        <div class="empty-message" *ngIf="users.length === 0">
            <div class="icon-container">
                <i class="fas fa-user-alt"></i>
            </div>
            <p>Não encontramos nenhum usuário</p>
        </div>
    </div>
</section>

<div class="modal" [class]="{ 'is-active': createModal.open }">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Cadastrar Usuário</p>
          <button class="delete" aria-label="close" (click)="closeModal()"></button>
        </header>
        <form [formGroup]="createUserForm" (ngSubmit)="createUser()">
            <section class="modal-card-body">
                <div class="field">
                    <label class="label">Nome Completo</label>
                    <div class="control has-icons-left">
                        <input class="input" type="text" formControlName="name" [disabled]="loading">
                        <span class="icon is-small is-left">
                        <i class="fas fa-user"></i>
                        </span>
                    </div>
                </div>
                <div class="field">
                    <label class="label">CPF</label>
                    <div class="control has-icons-left">
                        <input class="input" type="tel" formControlName="document" mask="000.000.000-00" [disabled]="loading">
                        <span class="icon is-small is-left">
                        <i class="fas fa-receipt"></i>
                        </span>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Celular</label>
                    <div class="control has-icons-left">
                        <input class="input" type="tel" formControlName="phone" mask="(00) 00000-0000" [disabled]="loading">
                        <span class="icon is-small is-left">
                        <i class="fas fa-phone-alt"></i>
                        </span>
                    </div>
                </div>
                <div class="field">
                    <label class="label">E-mail</label>
                    <div class="control has-icons-left">
                        <input class="input" type="email" formControlName="email" [disabled]="loading">
                        <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                        </span>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Senha</label>
                    <div class="control has-icons-left">
                        <input class="input" type="password" formControlName="password" autocomplete="new-password" [disabled]="loading">
                        <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                        </span>
                    </div>
                </div>
            </section>
            <footer class="modal-card-foot is-justify-content-end">
                <button type="button" class="button" (click)="closeModal()" [disabled]="loading">Cancelar</button>
                <button type="submit" class="button is-success" [class]="{ 'is-loading': loading }" [disabled]="loading">Cadastrar</button>
            </footer>
        </form>
    </div>
</div>

<div class="modal" [class]="{ 'is-active': updateModal.open }">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Editar Usuário</p>
          <button class="delete" aria-label="close" (click)="closeModal()"></button>
        </header>
        <form [formGroup]="updateUserForm" (ngSubmit)="updateUser()">
            <section class="modal-card-body">
                <div class="field">
                    <label class="label">Nome Completo</label>
                    <div class="control has-icons-left">
                        <input class="input" type="text" formControlName="name" [disabled]="loading">
                        <span class="icon is-small is-left">
                        <i class="fas fa-user"></i>
                        </span>
                    </div>
                </div>
                <div class="field">
                    <label class="label">CPF ou CNPJ</label>
                    <div class="control has-icons-left">
                        <input class="input" type="tel" formControlName="document" mask="CPF_CNPJ" [disabled]="loading">
                        <span class="icon is-small is-left">
                        <i class="fas fa-receipt"></i>
                        </span>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Celular</label>
                    <div class="control has-icons-left">
                        <input class="input" type="tel" formControlName="phone" mask="(00) 00000-0000" [disabled]="loading">
                        <span class="icon is-small is-left">
                        <i class="fas fa-phone-alt"></i>
                        </span>
                    </div>
                </div>
                <div class="field">
                    <label class="label">E-mail</label>
                    <div class="control has-icons-left">
                        <input class="input" type="email" formControlName="email" [disabled]="loading">
                        <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                        </span>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Senha</label>
                    <div class="control has-icons-left">
                        <input class="input" type="password" formControlName="password" autocomplete="new-password" [disabled]="loading">
                        <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                        </span>
                    </div>
                </div>
            </section>
            <footer class="modal-card-foot is-justify-content-end">
                <button type="button" class="button" (click)="closeModal()" [disabled]="loading">Cancelar</button>
                <button type="submit" class="button is-success" [class]="{ 'is-loading': loading }" [disabled]="loading">Salvar</button>
            </footer>
        </form>
    </div>
</div>