<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <h1 class="title is-3">Colaboradores</h1>
                <p class="subtitle">Gerencie os colaboradores da sua conta.</p>
            </div>
            <div class="column has-text-right">
                <button class="button is-dark" (click)="openCreateModal()">
                    Novo colaborador
                </button>
            </div>
        </div>
        <form (submit)="getUsers()">
            <div class="columns is-multiline">
                <div class="column is-3">
                    <div class="field">
                        <label class="label">Nome</label>
                        <div class="control">
                            <input class="input" type="text" [(ngModel)]="filter.name" name="name" placeholder="Digite o nome do colaborador">
                        </div>
                    </div>
                </div>
                <div class="column is-2">
                    <div class="field">
                        <label class="label">CPF</label>
                        <div class="control">
                            <input class="input" type="tel" [(ngModel)]="filter.cpf" name="cpf" mask="000.000.000-00" placeholder="Digite o número do CPF">
                        </div>
                    </div>
                </div>
                <div class="column is-3">
                    <div class="field">
                        <label class="label">E-mail</label>
                        <div class="control">
                            <input class="input" type="email" [(ngModel)]="filter.email" name="email" placeholder="Digite o e-mail">
                        </div>
                    </div>
                </div>
                <div class="column is-2">
                    <div class="field">
                        <label class="label">Situação</label>
                        <div class="control">
                            <div class="select is-fullwidth">
                                <select [(ngModel)]="filter.status" name="status">
                                    <option value="">Selecione...</option>
                                    <option value="PF">Ativo</option>
                                    <option value="PJ">Bloqueado</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-2">
                    <div class="field">
                        <label class="label">&nbsp;</label>
                        <div class="control">
                            <button type="submit" class="button is-dark is-fullwidth">
                                Pesquisar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="table-container mt-6">
            <table class="boss-an-table" *ngIf="users.length > 0">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>CPF</th>
                        <th>Email</th>
                        <th>Situação</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let u of users">
                        <td>{{ u.name }}</td>
                        <td>{{ u.document | mask: 'CPF_CNPJ' }}</td>
                        <td>{{ u.email }}</td>
                        <td>
                            <span *ngIf="!u.active" class="tag is-warning">Bloqueado</span>
                            <span *ngIf="u.active" class="tag is-primary is-light">Ativo</span>
                        </td>
                        <td>
                            <div class="buttons">
                                <button class="button" (click)="editUser(u)">
                                    Editar
                                </button>
                                <button class="button is-light is-warning is-outlined" (click)="blockUser(u)" *ngIf="u.active">
                                    Bloquear
                                </button>
                                <button class="button is-light is-success is-outlined" (click)="unblockUser(u)" *ngIf="!u.active">
                                    Desbloquear
                                </button>
                                <button class="button is-danger is-warning is-outlined" (click)="deleteUser(u)">
                                    Excluir
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="empty-message" *ngIf="users.length === 0">
            <div class="icon-container">
                <i class="fas fa-user-alt"></i>
            </div>
            <p>Não encontramos nenhum colaborador</p>
        </div>
    </div>
</section>

<div class="modal" [class]="{ 'is-active': createModal.open }">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Cadastrar Colaborador</p>
          <button class="delete" aria-label="close" (click)="closeModal()"></button>
        </header>
        <form [formGroup]="createUserForm" (ngSubmit)="createUser()">
            <section class="modal-card-body">
                <div class="field">
                    <label class="label">Nome Completo</label>
                    <div class="control has-icons-left">
                        <input class="input" type="text" formControlName="name" [disabled]="loading">
                        <span class="icon is-small is-left">
                        <i class="fas fa-user"></i>
                        </span>
                    </div>
                </div>
                <div class="field">
                    <label class="label">CPF</label>
                    <div class="control has-icons-left">
                        <input class="input" type="tel" formControlName="document" mask="000.000.000-00" [disabled]="loading">
                        <span class="icon is-small is-left">
                        <i class="fas fa-receipt"></i>
                        </span>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Celular</label>
                    <div class="control has-icons-left">
                        <input class="input" type="tel" formControlName="phone" mask="(00) 00000-0000" [disabled]="loading">
                        <span class="icon is-small is-left">
                        <i class="fas fa-phone-alt"></i>
                        </span>
                    </div>
                </div>
                <div class="field">
                    <label class="label">E-mail</label>
                    <div class="control has-icons-left">
                        <input class="input" type="email" formControlName="email" [disabled]="loading">
                        <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                        </span>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Senha</label>
                    <div class="control has-icons-left">
                        <input class="input" type="password" formControlName="password" autocomplete="new-password" [disabled]="loading">
                        <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                        </span>
                    </div>
                </div>
            </section>
            <footer class="modal-card-foot is-justify-content-end">
                <button type="button" class="button" (click)="closeModal()" [disabled]="loading">Cancelar</button>
                <button type="submit" class="button is-success" [class]="{ 'is-loading': loading }" [disabled]="loading">Cadastrar</button>
            </footer>
        </form>
    </div>
</div>

<div class="modal" [class]="{ 'is-active': updateModal.open }">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Editar Usuário</p>
          <button class="delete" aria-label="close" (click)="closeModal()"></button>
        </header>
        <form [formGroup]="updateUserForm" (ngSubmit)="updateUser()">
            <section class="modal-card-body">
                <div class="field">
                    <label class="label">Nome Completo</label>
                    <div class="control has-icons-left">
                        <input class="input" type="text" formControlName="name" [disabled]="loading">
                        <span class="icon is-small is-left">
                        <i class="fas fa-user"></i>
                        </span>
                    </div>
                </div>
                <div class="field">
                    <label class="label">CPF ou CNPJ</label>
                    <div class="control has-icons-left">
                        <input class="input" type="tel" formControlName="document" mask="CPF_CNPJ" [disabled]="loading">
                        <span class="icon is-small is-left">
                        <i class="fas fa-receipt"></i>
                        </span>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Celular</label>
                    <div class="control has-icons-left">
                        <input class="input" type="tel" formControlName="phone" mask="(00) 00000-0000" [disabled]="loading">
                        <span class="icon is-small is-left">
                        <i class="fas fa-phone-alt"></i>
                        </span>
                    </div>
                </div>
                <div class="field">
                    <label class="label">E-mail</label>
                    <div class="control has-icons-left">
                        <input class="input" type="email" formControlName="email" [disabled]="loading">
                        <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                        </span>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Senha</label>
                    <div class="control has-icons-left">
                        <input class="input" type="password" formControlName="password" autocomplete="new-password" [disabled]="loading">
                        <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                        </span>
                    </div>
                </div>
            </section>
            <footer class="modal-card-foot is-justify-content-end">
                <button type="button" class="button" (click)="closeModal()" [disabled]="loading">Cancelar</button>
                <button type="submit" class="button is-success" [class]="{ 'is-loading': loading }" [disabled]="loading">Salvar</button>
            </footer>
        </form>
    </div>
</div>