<section class="section">
    <div class="container">
        <h1 class="title is-3">Meus dados</h1>
        <p class="subtitle">Gerencie suas informações e seu cadastro.</p>
    </div>
</section>

<!-- <div class="modal" [class]="{ 'is-active': resultModal.open }">
  <div class="modal-background"></div>
  <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Resumo da fatura</p>
        <button class="delete" aria-label="close" (click)="closeModal()"></button>
      </header>
      <section class="modal-card-body">

        <table class="boss-an-table">
          <thead>
              <tr>
                  <th>Tipo</th>
                  <th>Quantidade</th>
                  <th>Valor</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let s of resultModal.summary">
                  <td>{{ s._id }}</td>
                  <td>{{ s.count }}</td>
                  <td>{{ s.amount | currency: 'BRL' }}</td>
                </tr>
            </tbody>
        </table>
      </section>
      <footer class="modal-card-foot is-justify-content-end">
          <button type="button" class="button" (click)="closeModal()">Fechar</button>
      </footer>
  </div>
</div> -->
