<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <h1 class="title is-3">Planos e Tarifas</h1>
                <p class="subtitle">Gerencie os planos e tarifas Boss Analytics.</p>
            </div>
        </div>
        <div class="table-container mt-6">
            <table class="boss-an-table" *ngIf="plans.length > 0">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Valor</th>
                        <th>Descrição</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let p of plans">
                        <td>{{ p.name }}</td>
                        <td>{{ p.price | currency: 'BRL' }}</td>
                        <td>{{ p.itens.join(', ') }}</td>
                        <td>
                            <div class="buttons">
                                <button class="button is-light" (click)="openTaxesModal(p)">
                                    Ver tarifas
                                </button>
                                <button disabled class="button is-light is-success" *ngIf="currentPlan?._id == p._id">
                                    Plano atual
                                </button>
                                <button class="button is-light is-success" (click)="choosePlan(p)" *ngIf="currentPlan?._id != p._id">
                                    Mudar para este plano
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="empty-message" *ngIf="plans.length === 0">
            <div class="icon-container">
                <i class="fas fa-dollar-sign"></i>
            </div>
            <p>Não encontramos nenhum plano</p>
        </div>
    </div>
</section>

<div class="modal" [class]="{ 'is-active': taxesModal.open }">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">{{ taxesModal.plan?.name }}</p>
        <button class="delete" aria-label="close" (click)="closeModal()"></button>
      </header>
      <section class="modal-card-body">
        <div class="columns">
          <div class="column">
            <h4 class="title is-5 mb-2">Tarifas Pessoa Física</h4>
            <p *ngFor="let t of taxesModal.plan?.person_modules | keyvalue">
              {{ t.key | bossModule }}: {{ t.value | currency: 'BRL' }}
            </p>
          </div>
          <div class="column">
            <h4 class="title is-5 mb-2">Tarifas Pessoa Jurídica</h4>
            <p *ngFor="let t of taxesModal.plan?.company_modules | keyvalue">
              {{ t.key | bossModule }}: {{ t.value | currency: 'BRL' }}
            </p>
          </div>
        </div>
      </section>
      <footer class="modal-card-foot is-justify-content-end">
        <button type="button" class="button" (click)="closeModal()">Voltar</button>
      </footer>
    </div>
  </div>