<section class="hero is-primary is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-12-mobile is-8-tablet is-5-desktop">
          <div class="has-text-centered">
            <a href="">
              <img src="/assets/svg/boss-logo-04.svg" alt="Boss Analytics">
            </a>
          </div>
          <div class="box px-6 py-6 mt-6">
            <div *ngIf="!emailSent">
              <h1 class="title is-4 mb-6 has-text-black has-text-centered">
                Esqueceu sua senha?
              </h1>
              <p class="subtitle is-6 has-text-centered">
                Insira o e-mail de cadastro no campo abaixo para receber o link de redefinição de senha
              </p>
              <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword()">
                <div class="field">
                  <label class="label">E-mail</label>
                  <div class="control has-icons-left">
                    <input class="input" type="email" formControlName="email" placeholder="Digite seu e-mail">
                    <span class="icon is-small is-left">
                      <i class="fas fa-envelope"></i>
                    </span>
                  </div>
                </div>
                <br>
                <div class="has-text-centered">
                  <div class="field">
                    <div class="control">
                      <button type="submit"
                        class="button is-primary is-fullwidth"
                        [class]="{ 'is-loading': loading }"
                        [disabled]="!forgotPasswordForm.valid || loading">
                        Enviar link para redefinir senha
                      </button>
                    </div>
                  </div>
                </div>
              </form>
              <div class="has-text-centered mt-6">
                <a href="/entrar">Voltar para o login</a>
              </div>
            </div>
            <div *ngIf="emailSent" class="has-text-centered">
              <h1 class="title is-4 mb-6 has-text-black">
                E-mail para redefinição de senha enviado com sucesso!
              </h1>
              <p class="subtitle is-6">
                Verifique seus e-mails. Caso não encontre em sua caixa de entrada, verifique o SPAM ou lixo eletrônico.
                <br><br>
                Você já pode fechar esta página.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>