<section class="hero is-primary is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-12-mobile is-8-tablet is-5-desktop">
          <div class="has-text-centered">
            <a href="">
              <img src="/assets/svg/boss-logo-04.svg" alt="Boss Analytics">
            </a>
          </div>
          <div class="box px-6 py-6 mt-6">
            <div *ngIf="!didResetPassword">
              <h1 class="title is-3 mb-6 has-text-black has-text-centered">
                Redefina sua senha de acesso ao painel.
              </h1>
              <p class="subtitle has-text-centered">
                Preencha os campos abaixo para redefinir a sua senha. Mínimo de 6 caracteres alfanuméricos (letras e números).
              </p>
              <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword()">
                <div class="field">
                  <label class="label">Nova senha</label>
                  <div class="control has-icons-left">
                    <input class="input" type="password" formControlName="newPassword" placeholder="Insira a nova senha">
                    <span class="icon is-small is-left">
                      <i class="fas fa-lock"></i>
                    </span>
                  </div>
                </div>
                <!-- <div class="field">
                  <label class="label">Repetir nova senha</label>
                  <div class="control has-icons-left">
                    <input class="input" type="password" formControlName="confirmPassword" placeholder="Insira a nova senha">
                    <span class="icon is-small is-left">
                      <i class="fas fa-lock"></i>
                    </span>
                  </div>
                </div> -->
                <br>
                <div class="has-text-centered">
                  <div class="field">
                    <div class="control">
                      <button type="submit"
                        class="button is-primary is-fullwidth"
                        [class]="{ 'is-loading': loading }"
                        [disabled]="!forgotPasswordForm.valid || loading">
                        Salvar nova senha
                      </button>
                    </div>
                  </div>
                </div>
              </form>
              <div class="has-text-centered mt-6">
                <a href="/entrar">Voltar para o login</a>
              </div>
            </div>
            <div *ngIf="didResetPassword" class="has-text-centered">
              <h1 class="title is-3 mb-6 has-text-black">
                Senha redefinida com sucesso!
              </h1>
              <p class="subtitle">
                Para acessar a sua conta, clique no botão abaixo e informe seu e-mail e sua nova senha.
              </p>
              <a href="/entrar" class="button is-primary is-fullwidth">
                Acessar minha conta
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>