<section class="section">
    <div class="container">
        <h1 class="title is-1">Usuários</h1>
        <table class="boss-an-table" *ngIf="users.length > 0">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>Email</th>
                    <th>Situação</th>
                    <th>Cargo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let u of users">
                    <td>{{ u.name }}</td>
                    <td>{{ u.document | mask: 'CPF_CNPJ' }}</td>
                    <td>{{ u.email }}</td>
                    <td>
                        <span *ngIf="u.status === 'pending'" class="tag is-warning">Pendente</span>
                        <span *ngIf="u.status === 'approved'" class="tag is-primary is-light">Aprovado</span>
                        <span *ngIf="u.status === 'disapproved'" class="tag is-danger is-light">Rejeitado</span>
                    </td>
                    <td>
                        <span *ngIf="u.role === 'admin'">Administrador</span>
                        <span *ngIf="u.role === 'user'">Dono</span>
                        <span *ngIf="u.role === 'employee'">Empregado</span>
                    </td>
                    <td>
                        <div class="buttons">
                            <button class="button is-primary is-outlined is-light" (click)="createUserInvoice(u)" *ngIf="u.role === 'user' && u.status === 'approved'">
                                Gerar Fatura
                            </button>
                            <button class="button" (click)="editUserConfig(u)" *ngIf="u.role === 'user' && u.status === 'approved'">
                                Editar
                            </button>
                            <button class="button is-primary" (click)="approveUser(u)" *ngIf="u.status === 'pending'">
                                Aprovar
                            </button>
                            <button class="button is-danger is-light" (click)="rejectUser(u)" *ngIf="u.status === 'pending'">
                                Rejeitar
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="empty-message" *ngIf="users.length === 0">
            <div class="icon-container">
                <i class="fas fa-user-alt"></i>
            </div>
            <p>Não encontramos nenhum usuário</p>
        </div>
    </div>
</section>

<div class="modal" [class]="{ 'is-active': createConfigModal.open }">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Configurar Valores</p>
          <button class="delete" aria-label="close" (click)="closeModal()"></button>
        </header>
        <form [formGroup]="createConfigForm" (ngSubmit)="createConfig()">
            <section class="modal-card-body">
                <div class="columns">
                    <div class="column">
                        <h4 class="title is-5">Pessoa Física</h4>
                        <div class="field">
                            <label class="label">Dados Cadastrais</label>
                            <div class="control">
                                <input class="input" type="tel" currencyMask formControlName="pf_register_data">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Perfil Financeiro</label>
                            <div class="control">
                                <input class="input" type="tel" currencyMask formControlName="pf_financial_data">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Dados Comportamentais</label>
                            <div class="control">
                                <input class="input" type="tel" currencyMask formControlName="pf_behavior_data">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Restritivos</label>
                            <div class="control">
                                <input class="input" type="tel" currencyMask formControlName="pf_restrict">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label"><i>OnDemand</i></label>
                            <div class="control">
                                <input class="input" type="tel" currencyMask formControlName="pf_ondemand">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Serasa Boavista</label>
                            <div class="control">
                                <input class="input" type="tel" currencyMask formControlName="pf_serasa_boavista">
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <h4 class="title is-5">Pessoa Jurídica</h4>
                        <div class="field">
                            <label class="label">Dados Cadastrais</label>
                            <div class="control">
                                <input class="input" type="tel" currencyMask formControlName="pj_register_data">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Perfil Financeiro</label>
                            <div class="control">
                                <input class="input" type="tel" currencyMask formControlName="pj_financial_data">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Dados Comportamentais</label>
                            <div class="control">
                                <input class="input" type="tel" currencyMask formControlName="pj_behavior_data">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Restritivos</label>
                            <div class="control">
                                <input class="input" type="tel" currencyMask formControlName="pj_restrict">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label"><i>OnDemand</i></label>
                            <div class="control">
                                <input class="input" type="tel" currencyMask formControlName="pj_ondemand">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Serasa Boavista</label>
                            <div class="control">
                                <input class="input" type="tel" currencyMask formControlName="pj_serasa_boavista">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <footer class="modal-card-foot is-justify-content-end">
                <button type="button" class="button" (click)="closeModal()" [class]="{ 'is-loading': loading }" [disabled]="loading">Cancelar</button>
                <button type="submit" class="button is-success" [class]="{ 'is-loading': loading }" [disabled]="loading">Ativar cliente</button>
            </footer>
        </form>
    </div>
</div>

<div class="modal" [class]="{ 'is-active': updateConfigModal.open }">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Editar Valores</p>
          <button class="delete" aria-label="close" (click)="closeModal()"></button>
        </header>
        <form [formGroup]="updateConfigForm" (ngSubmit)="updateConfig()">
            <section class="modal-card-body">
                <div class="columns">
                    <div class="column">
                        <h4 class="title is-5">Pessoa Física</h4>
                        <div class="field">
                            <label class="label">Dados Cadastrais</label>
                            <div class="control">
                                <input class="input" type="tel" currencyMask formControlName="pf_register_data">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Perfil Financeiro</label>
                            <div class="control">
                                <input class="input" type="tel" currencyMask formControlName="pf_financial_data">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Dados Comportamentais</label>
                            <div class="control">
                                <input class="input" type="tel" currencyMask formControlName="pf_behavior_data">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Restritivos</label>
                            <div class="control">
                                <input class="input" type="tel" currencyMask formControlName="pf_restrict">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label"><i>OnDemand</i></label>
                            <div class="control">
                                <input class="input" type="tel" currencyMask formControlName="pf_ondemand">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Serasa Boavista</label>
                            <div class="control">
                                <input class="input" type="tel" currencyMask formControlName="pf_serasa_boavista">
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <h4 class="title is-5">Pessoa Jurídica</h4>
                        <div class="field">
                            <label class="label">Dados Cadastrais</label>
                            <div class="control">
                                <input class="input" type="tel" currencyMask formControlName="pj_register_data">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Perfil Financeiro</label>
                            <div class="control">
                                <input class="input" type="tel" currencyMask formControlName="pj_financial_data">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Dados Comportamentais</label>
                            <div class="control">
                                <input class="input" type="tel" currencyMask formControlName="pj_behavior_data">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Restritivos</label>
                            <div class="control">
                                <input class="input" type="tel" currencyMask formControlName="pj_restrict">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label"><i>OnDemand</i></label>
                            <div class="control">
                                <input class="input" type="tel" currencyMask formControlName="pj_ondemand">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Serasa Boavista</label>
                            <div class="control">
                                <input class="input" type="tel" currencyMask formControlName="pj_serasa_boavista">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <footer class="modal-card-foot is-justify-content-end">
                <button type="button" class="button" (click)="closeModal()" [class]="{ 'is-loading': loading }" [disabled]="loading">Cancelar</button>
                <button type="submit" class="button is-success" [class]="{ 'is-loading': loading }" [disabled]="loading">Salvar</button>
            </footer>
        </form>
    </div>
</div>

<div class="modal" [class]="{ 'is-active': createUserInvoiceModal.open }">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Gerar Fatura</p>
          <button class="delete" aria-label="close" (click)="closeModal()"></button>
        </header>
        <form [formGroup]="createUserInvoiceForm" (ngSubmit)="doCreateUserInvoice()">
            <section class="modal-card-body">
                <div class="columns">
                    <div class="column is-6">
                        <div class="field">
                            <label class="label">Mês de Referência</label>
                            <div class="control">
                                <input class="input" type="tel" mask="00" placeholder="12" min="1" max="12" formControlName="month">
                            </div>
                        </div>
                    </div>
                    <div class="column is-6">
                        <div class="field">
                            <label class="label">Ano de Referência</label>
                            <div class="control">
                                <input class="input" type="tel" mask="0000" placeholder="2021" formControlName="year">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <footer class="modal-card-foot is-justify-content-end">
                <button type="button" class="button" (click)="closeModal()" [class]="{ 'is-loading': loading }" [disabled]="loading">Cancelar</button>
                <button type="submit" class="button is-success" [class]="{ 'is-loading': loading }" [disabled]="loading">Gerar fatura</button>
            </footer>
        </form>
    </div>
</div>