<section class="section">
    <div class="container">
        <h1 class="title is-3">Clientes</h1>
        <p class="subtitle">Gerencie os clientes.</p>
        <form (submit)="getUsers()">
            <div class="columns">
                <div class="column is-2">
                    <div class="field">
                        <label class="label">CNPJ</label>
                        <div class="control">
                            <input class="input" [(ngModel)]="filter.document" name="document" mask="00.000.000/0000-00" placeholder="Digite o número do CNPJ">
                        </div>
                    </div>
                </div>
                <div class="column is-3">
                    <div class="field">
                        <label class="label">Razão Social</label>
                        <div class="control">
                            <input class="input" type="text" [(ngModel)]="filter.name" name="name" placeholder="Digite a Razão Social">
                        </div>
                    </div>
                </div>
                <div class="column is-3">
                    <div class="field">
                        <label class="label">Responsável</label>
                        <div class="control">
                            <input class="input" type="text" [(ngModel)]="filter.name" name="name" placeholder="Digite o nome do(a) responsável">
                        </div>
                    </div>
                </div>
                <div class="column is-2">
                    <div class="field">
                        <label class="label">Situação</label>
                        <div class="control">
                            <div class="select is-fullwidth">
                                <select [(ngModel)]="filter.status" name="status">
                                    <option value="">Selecione...</option>
                                    <option value="pending">Pendente</option>
                                    <option value="approved">Aprovado</option>
                                    <option value="disapproved">Reprovado</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-2">
                    <div class="field">
                        <label class="label">&nbsp;</label>
                        <div class="control">
                            <button type="submit" class="button is-dark is-fullwidth">
                                Pesquisar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="table-container mt-6">
            <table class="boss-an-table" *ngIf="users.length > 0">
                <thead>
                    <tr>
                        <th>CNPJ</th>
                        <th>Razão Social</th>
                        <th>Responsável</th>
                        <th>Email</th>
                        <th>Situação</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let u of users">
                        <td>{{ u.document | mask: 'CPF_CNPJ' }}</td>
                        <td>{{ u.name }}</td>
                        <td>{{ u.name }}</td>
                        <td>{{ u.email }}</td>
                        <td>
                            <span *ngIf="u.status === 'pending'" class="tag is-warning">Pendente</span>
                            <span *ngIf="u.status === 'approved'" class="tag is-primary is-light">Aprovado</span>
                            <span *ngIf="u.status === 'disapproved'" class="tag is-danger is-light">Reprovado</span>
                        </td>
                        <td>
                            <div class="buttons">
                                <!-- <button class="button is-primary is-light" (click)="createUserInvoice(u)" *ngIf="u.role === 'user' && u.status === 'approved'">
                                    Gerar Fatura
                                </button> -->
                                <!-- <button class="button" (click)="editUserConfig(u)" *ngIf="u.role === 'user' && u.status === 'approved'">
                                    Editar
                                </button> -->
                                <button class="button is-primary is-light" (click)="approveUser(u)" *ngIf="u.status === 'pending'">
                                    Aprovar
                                </button>
                                <button class="button is-danger is-light" (click)="rejectUser(u)" *ngIf="u.status === 'pending'">
                                    Reprovar
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <nav class="pagination is-centered" role="navigation" aria-label="pagination" *ngIf="users.length > 0">
            <ul class="pagination-list">
                <li><a class="pagination-link" aria-label="Ir para página 1" (click)="goToPage(1)" *ngIf="pagination.currentPage > 1">1</a></li>
                <li><span class="pagination-ellipsis" *ngIf="pagination.currentPage > 1">&hellip;</span></li>
                <li><a class="pagination-link" (click)="goToPage(pagination.currentPage - 1)" *ngIf="pagination.currentPage - 1 > 0">{{ pagination.currentPage - 1 }}</a></li>
                <li><a class="pagination-link is-current" aria-current="page">{{ pagination.currentPage }}</a></li>
                <li><a class="pagination-link" (click)="goToPage(pagination.currentPage + 1)" *ngIf="pagination.currentPage + 1 <= pagination.maxPages">{{ pagination.currentPage + 1 }}</a></li>
                <li><span class="pagination-ellipsis" *ngIf="pagination.currentPage < pagination.maxPages">&hellip;</span></li>
                <li><a class="pagination-link" (click)="goToPage(pagination.maxPages)" *ngIf="pagination.currentPage < pagination.maxPages">{{ pagination.maxPages }}</a></li>
            </ul>
        </nav>
        <div class="empty-message" *ngIf="users.length === 0">
            <div class="icon-container">
                <i class="fas fa-user-alt"></i>
            </div>
            <p>Não encontramos nenhum usuário</p>
        </div>
    </div>
</section>

<div class="modal" [class]="{ 'is-active': createUserInvoiceModal.open }">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Gerar Fatura</p>
          <button class="delete" aria-label="close" (click)="closeModal()"></button>
        </header>
        <form [formGroup]="createUserInvoiceForm" (ngSubmit)="doCreateUserInvoice()">
            <section class="modal-card-body">
                <div class="columns">
                    <div class="column is-6">
                        <div class="field">
                            <label class="label">Mês de Referência</label>
                            <div class="control">
                                <input class="input input-light" type="tel" mask="00" placeholder="12" min="1" max="12" formControlName="month">
                            </div>
                        </div>
                    </div>
                    <div class="column is-6">
                        <div class="field">
                            <label class="label">Ano de Referência</label>
                            <div class="control">
                                <input class="input input-light" type="tel" mask="0000" placeholder="2021" formControlName="year">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <footer class="modal-card-foot is-justify-content-end">
                <button type="button" class="button" (click)="closeModal()" [class]="{ 'is-loading': loading }" [disabled]="loading">Cancelar</button>
                <button type="submit" class="button is-success" [class]="{ 'is-loading': loading }" [disabled]="loading">Gerar fatura</button>
            </footer>
        </form>
    </div>
</div>
