<section class="hero is-link is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-12-mobile is-8-tablet is-5-desktop">
          <a href="">
            <img src="/assets/svg/boss-logo-negativo-03.svg" alt="Boss Analytics">
          </a>
          <div class="box px-6 py-6 mt-6">
            <h1 class="title is-2 has-text-black">
              Entrar
            </h1>
            <h2 class="subtitle has-text-black">
              Preencha os campos corretamente para acessar sua conta.
            </h2>
            <form [formGroup]="loginForm" (ngSubmit)="login()">
              <div class="field">
                <label class="label">E-mail</label>
                <div class="control has-icons-left">
                  <input class="input" type="email" formControlName="email">
                  <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                  </span>
                </div>
              </div>
              <div class="field">
                <label class="label">Senha</label>
                <div class="control has-icons-left">
                  <input class="input" type="password" formControlName="password">
                  <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                  </span>
                </div>
              </div>
              <br>
              <div class="has-text-centered">
                <div class="field">
                  <div class="control">
                    <button type="submit"
                      class="button is-primary is-rounded is-fullwidth"
                      [class]="{ 'is-loading': loading }"
                      [disabled]="!loginForm.valid || loading">
                      Entrar
                    </button>
                  </div>
                </div>
              </div>
            </form>
            <div class="has-text-centered mt-6">
              <a href="/cadastrar">Ainda não tenho uma conta</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>