<section class="hero is-primary is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-12-mobile is-8-tablet is-5-desktop">
          <div class="has-text-centered">
            <a href="">
              <img src="/assets/svg/boss-logo-04.svg" alt="Boss Analytics">
            </a>
          </div>
          <div class="box px-6 py-6 mt-6" *ngIf="!userIsBlocked">
            <h1 class="title is-4 mb-6 has-text-black has-text-centered">
              Acesse sua conta
            </h1>
            <form [formGroup]="loginForm" (ngSubmit)="login()">
              <div class="field">
                <label class="label">E-mail</label>
                <div class="control has-icons-left">
                  <input class="input" type="email" formControlName="email" placeholder="Digite seu e-mail">
                  <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                  </span>
                </div>
              </div>
              <div class="field">
                <div class="columns p-0 m-0">
                  <div class="column p-0 m-0">
                    <label class="label">Senha</label>
                  </div>
                  <div class="column p-0 m-0 has-text-right">
                    <a href="/esqueci">Esqueci minha senha</a>
                  </div>
                </div>
                <div class="control has-icons-left">
                  <input class="input" type="password" formControlName="password" placeholder="Digite sua senha">
                  <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                  </span>
                </div>
              </div>
              <br>
              <div class="has-text-centered">
                <div class="field">
                  <div class="control">
                    <button type="submit"
                      class="button is-primary is-fullwidth"
                      [class]="{ 'is-loading': loading }"
                      [disabled]="!loginForm.valid || loading">
                      Entrar
                    </button>
                  </div>
                </div>
              </div>
            </form>
            <div class="has-text-centered mt-6">
              <a href="/cadastrar">Ainda não tenho uma conta</a>
            </div>
          </div>
          <div class="box px-6 py-6 mt-6 has-text-centered" *ngIf="userIsBlocked">
            <h1 class="title is-4 mb-6 has-text-black">
              Seu acesso está bloqueado.
            </h1>
            <p class="subtitle is-6 mb-6">
              Entre em contato com seu administrador para saber mais.
            </p>
            <a class="button is-primary is-fullwidth mt-6" (click)="goBackToForm()">Voltar para o login</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>