<section class="hero is-primary is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-12-mobile is-8-tablet" [class]="{ 'is-5-desktop': currentStep > 1, 'is-10-desktop': currentStep == 1 }">
          <div class="has-text-centered">
            <a href="">
              <img src="/assets/svg/boss-logo-04.svg" alt="Boss Analytics">
            </a>
          </div>
          <div class="box px-6 py-6 mt-6" *ngIf="currentStep == 1">
            <div class="has-text-centered">
              <h1 class="title is-4 has-text-black has-text-centered">
                Escolha o seu plano
              </h1>
              <p class="subtitle is-6 mb-6">Para efetuar seu cadastro, primeiro selecione o plano desejado.</p>
              <div class="columns is-multiline">
                <div class="column is-4" *ngFor="let p of plans">
                  <div class="card">
                    <header class="card-header has-background-dark">
                      <p class="card-header-title has-text-white px-3 py-3">
                        {{ p.name }}
                      </p>
                    </header>
                    <div class="card-content has-text-left px-3 py-3">
                      <div class="content">
                        <p *ngFor="let li of p.itens">
                          <span class="icon has-text-success">
                            <i class="fas fa-check"></i>
                          </span>
                          <span>{{ li }}</span>
                        </p>
                      </div>
                    </div>
                    <footer class="card-footer px-3 py-3 is-flex-direction-column has-text-left">
                      <p class="mb-4">
                        <b>{{ p.price | currency: 'BRL' }} / Mês</b>
                        <a (click)="openTaxesModal(p)" class="is-underlined is-pulled-right">
                          Ver tarifas
                        </a>
                      </p>
                      <button (click)="selectPlan(p)" class="button is-primary is-fullwidth">Selecionar</button>
                    </footer>
                  </div>
                </div>
              </div>
            </div>
            <div class="has-text-centered mt-6">
              <a href="/entrar">Eu já tenho uma conta</a>
            </div>
          </div>
          <div class="box px-6 py-6 mt-6" *ngIf="currentStep == 2">
            <div class="has-text-centered">
              <h1 class="title is-4 has-text-black has-text-centered">
                Formulário de cadastro
              </h1>
              <p class="subtitle is-6 mb-6">Preencha os campos abaixo para cadastrar sua empresa.</p>
            </div>
            <form [formGroup]="registerForm" (ngSubmit)="register()">
              <div class="field">
                <label class="label">
                  Plano selecionado
                  <span class="is-pulled-right">
                    <a (click)="goToStep(1)" class="is-underlined has-text-light">Escolher outro plano</a>
                  </span>
                </label>
                <div class="control">
                  <input class="input" type="text" [value]="selectedPlan.name" readonly>
                </div>
              </div>
              <div class="field">
                <label class="label">Nome Completo</label>
                <div class="control has-icons-left">
                  <input class="input" type="text" formControlName="name" [class]="{ 'is-danger': registerForm.controls['name'].invalid && (registerForm.controls['name'].dirty || registerForm.controls['name'].touched) }">
                  <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                  </span>
                </div>
                <div *ngIf="registerForm.controls['name'].invalid && (registerForm.controls['name'].dirty || registerForm.controls['name'].touched)">
                  <p *ngIf="registerForm.controls['name'].errors.required" class="help is-danger">
                    Informe o Nome.
                  </p>
                </div>
              </div>
              <div class="field">
                <label class="label">CNPJ</label>
                <div class="control has-icons-left">
                  <input class="input" type="tel" formControlName="document" mask="00.000.000/0000-00" [class]="{ 'is-danger': registerForm.controls['document'].invalid && (registerForm.controls['document'].dirty || registerForm.controls['document'].touched) }">
                  <span class="icon is-small is-left">
                    <i class="fas fa-receipt"></i>
                  </span>
                </div>
                <div *ngIf="registerForm.controls['document'].invalid && (registerForm.controls['document'].dirty || registerForm.controls['document'].touched)">
                  <p *ngIf="registerForm.controls['document'].errors.required" class="help is-danger">
                    Informe o CNPJ.
                  </p>
                  <p *ngIf="registerForm.controls['document'].errors.minlength" class="help is-danger">
                    CNPJ incompleto.
                  </p>
                  <p *ngIf="registerForm.controls['document'].errors.invalidCNPJ" class="help is-danger">
                    CNPJ inválido.
                  </p>
                </div>
              </div>
              <div class="field">
                <label class="label">Celular</label>
                <div class="control has-icons-left">
                  <input class="input" type="tel" formControlName="phone" mask="(00) 00000-0000" [class]="{ 'is-danger': registerForm.controls['phone'].invalid && (registerForm.controls['phone'].dirty || registerForm.controls['phone'].touched) }">
                  <span class="icon is-small is-left">
                    <i class="fas fa-phone-alt"></i>
                  </span>
                </div>
                <div *ngIf="registerForm.controls['phone'].invalid && (registerForm.controls['phone'].dirty || registerForm.controls['phone'].touched)">
                  <p *ngIf="registerForm.controls['phone'].errors.required" class="help is-danger">
                    Informe o Celular.
                  </p>
                  <p *ngIf="registerForm.controls['phone'].errors.minlength" class="help is-danger">
                    Celular incompleto.
                  </p>
                </div>
              </div>
              <div class="field">
                <label class="label">E-mail</label>
                <div class="control has-icons-left">
                  <input class="input" type="email" formControlName="email" [class]="{ 'is-danger': registerForm.controls['email'].invalid && (registerForm.controls['email'].dirty || registerForm.controls['email'].touched) }">
                  <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                  </span>
                </div>
                <div *ngIf="registerForm.controls['email'].invalid && (registerForm.controls['email'].dirty || registerForm.controls['email'].touched)">
                  <p *ngIf="registerForm.controls['email'].errors.required" class="help is-danger">
                    Informe o Email.
                  </p>
                  <p *ngIf="registerForm.controls['email'].errors.email" class="help is-danger">
                    Email inválido.
                  </p>
                </div>
              </div>
              <div class="field">
                <label class="label">Repita o E-mail</label>
                <div class="control has-icons-left">
                  <input class="input" type="email" formControlName="confirmEmail" [class]="{ 'is-danger': registerForm.controls['confirmEmail'].invalid && (registerForm.controls['confirmEmail'].dirty || registerForm.controls['confirmEmail'].touched) }">
                  <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                  </span>
                </div>
                <div *ngIf="registerForm.controls['confirmEmail'].invalid && (registerForm.controls['confirmEmail'].dirty || registerForm.controls['confirmEmail'].touched)">
                  <p *ngIf="registerForm.controls['confirmEmail'].errors.required" class="help is-danger">
                    Confirme o Email.
                  </p>
                  <p *ngIf="registerForm.controls['confirmEmail'].errors.email" class="help is-danger">
                    Email inválido.
                  </p>
                  <p *ngIf="registerForm.controls['confirmEmail'].errors.notMatch" class="help is-danger">
                    Email precisa ser idêntico.
                  </p>
                </div>
              </div>
              <div formGroupName="address">
                <h3 class="title is-5 has-text-black mt-5 mb-2">Endereço</h3>
                <div class="field">
                  <label class="label">Rua</label>
                  <div class="control">
                    <input class="input" type="text" formControlName="street" [class]="{ 'is-danger': registerForm.controls['address'].controls['street'].invalid && (registerForm.controls['address'].controls['street'].dirty || registerForm.controls['address'].controls['street'].touched) }">
                  </div>
                  <div *ngIf="registerForm.controls['address'].controls['street'].invalid && (registerForm.controls['address'].controls['street'].dirty || registerForm.controls['address'].controls['street'].touched)">
                    <p *ngIf="registerForm.controls['address'].controls['street'].errors.required" class="help is-danger">
                      Informe a Rua.
                    </p>
                  </div>
                </div>
                <div class="field">
                  <label class="label">Número</label>
                  <div class="control">
                    <input class="input" type="tel" formControlName="number" [class]="{ 'is-danger': registerForm.controls['address'].controls['number'].invalid && (registerForm.controls['address'].controls['number'].dirty || registerForm.controls['address'].controls['number'].touched) }">
                  </div>
                  <div *ngIf="registerForm.controls['address'].controls['number'].invalid && (registerForm.controls['address'].controls['number'].dirty || registerForm.controls['address'].controls['number'].touched)">
                    <p *ngIf="registerForm.controls['address'].controls['number'].errors.required" class="help is-danger">
                      Informe o Número.
                    </p>
                  </div>
                </div>
                <div class="field">
                  <label class="label">Complemento <small>(opcional)</small></label>
                  <div class="control">
                    <input class="input" type="text" formControlName="complement">
                  </div>
                </div>
                <div class="field">
                  <label class="label">Bairro</label>
                  <div class="control">
                    <input class="input" type="text" formControlName="neighborhood" [class]="{ 'is-danger': registerForm.controls['address'].controls['neighborhood'].invalid && (registerForm.controls['address'].controls['neighborhood'].dirty || registerForm.controls['address'].controls['neighborhood'].touched) }">
                  </div>
                  <div *ngIf="registerForm.controls['address'].controls['neighborhood'].invalid && (registerForm.controls['address'].controls['neighborhood'].dirty || registerForm.controls['address'].controls['neighborhood'].touched)">
                    <p *ngIf="registerForm.controls['address'].controls['neighborhood'].errors.required" class="help is-danger">
                      Informe o Bairro.
                    </p>
                  </div>
                </div>
                <div class="field">
                  <label class="label">Cidade</label>
                  <div class="control">
                    <input class="input" type="text" formControlName="city" [class]="{ 'is-danger': registerForm.controls['address'].controls['city'].invalid && (registerForm.controls['address'].controls['city'].dirty || registerForm.controls['address'].controls['city'].touched) }">
                  </div>
                  <div *ngIf="registerForm.controls['address'].controls['city'].invalid && (registerForm.controls['address'].controls['city'].dirty || registerForm.controls['address'].controls['city'].touched)">
                    <p *ngIf="registerForm.controls['address'].controls['city'].errors.required" class="help is-danger">
                      Informe a Cidade.
                    </p>
                  </div>
                </div>
                <div class="field">
                  <label class="label">Estado</label>
                  <div class="control">
                    <input class="input" type="text" formControlName="state" [class]="{ 'is-danger': registerForm.controls['address'].controls['state'].invalid && (registerForm.controls['address'].controls['state'].dirty || registerForm.controls['address'].controls['state'].touched) }">
                  </div>
                  <div *ngIf="registerForm.controls['address'].controls['state'].invalid && (registerForm.controls['address'].controls['state'].dirty || registerForm.controls['address'].controls['state'].touched)">
                    <p *ngIf="registerForm.controls['address'].controls['state'].errors.required" class="help is-danger">
                      Informe o Estado.
                    </p>
                  </div>
                </div>
              </div>
              <h3 class="title is-5 has-text-black mt-5 mb-2">Segurança</h3>
              <div class="field">
                <label class="label">Senha <small class="has-text-light">(mínimo de 6 caracteres alfanuméricos)</small></label>
                <div class="control has-icons-left">
                  <input class="input" type="password" formControlName="password" autocomplete="new-password" [class]="{ 'is-danger': registerForm.controls['password'].invalid && (registerForm.controls['password'].dirty || registerForm.controls['password'].touched) }">
                  <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                  </span>
                </div>
                <div *ngIf="registerForm.controls['password'].invalid && (registerForm.controls['password'].dirty || registerForm.controls['password'].touched)">
                  <p *ngIf="registerForm.controls['password'].errors.required" class="help is-danger">
                    Informe a Senha.
                  </p>
                  <p *ngIf="registerForm.controls['password'].errors.minlength" class="help is-danger">
                    Informe no mínimo 6 carateres.
                  </p>
                </div>
              </div>
              <div class="field">
                <label class="label">Repita a Senha</label>
                <div class="control has-icons-left">
                  <input class="input" type="password" formControlName="confirmPassword" autocomplete="new-password" [class]="{ 'is-danger': registerForm.controls['confirmPassword'].invalid && (registerForm.controls['confirmPassword'].dirty || registerForm.controls['confirmPassword'].touched) }">
                  <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                  </span>
                </div>
                <div *ngIf="registerForm.controls['confirmPassword'].invalid && (registerForm.controls['confirmPassword'].dirty || registerForm.controls['confirmPassword'].touched)">
                  <p *ngIf="registerForm.controls['confirmPassword'].errors.required" class="help is-danger">
                    Confirme a Senha.
                  </p>
                  <p *ngIf="registerForm.controls['confirmPassword'].errors.notMatch" class="help is-danger">
                    Senha precisa ser idêntica.
                  </p>
                </div>
              </div>
              <div class="field">
                <label class="checkbox">
                  <input type="checkbox" formControlName="terms">
                  Li e estou de acordo com os <a href="assets/txt/termos.txt" target="_blank">termos e condições</a>
                </label>
                <p *ngIf="registerForm.dirty && registerForm.controls['terms'].errors?.required" class="help is-danger">
                  É obrigatório ler e aceitar os termos e condições.
                </p>
              </div>
              <br>
              <div class="has-text-centered">
                <div class="field">
                  <div class="control">
                    <button type="submit"
                      class="button is-primary is-fullwidth"
                      [class]="{ 'is-loading': loading }"
                      [disabled]="!registerForm.valid || loading">
                      Cadastrar
                    </button>
                  </div>
                </div>
              </div>
            </form>
            <div class="has-text-centered mt-6">
              <a href="/entrar">Eu já tenho uma conta</a>
            </div>
          </div>
          <div class="box px-6 py-6 mt-6" *ngIf="currentStep == 3">
            <div class="has-text-centered">
              <h1 class="title is-4 has-text-black has-text-centered">
                Parabéns! Seu cadastro foi efetuado com sucesso.
              </h1>
              <p class="subtitle is-6 mb-6 mt-4">Seja muito bem-vindo(a) à Boss Analytics. Clique no botão abaixo para acessar a sua conta..</p>
              <a href="/entrar" class="button is-primary is-fullwidth">Acessar minha conta</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="modal" [class]="{ 'is-active': taxesModal.open }">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">{{ taxesModal.plan?.name }}</p>
      <button class="delete" aria-label="close" (click)="closeModal()"></button>
    </header>
    <section class="modal-card-body">
      <div class="columns">
        <div class="column">
          <h4 class="title is-5 mb-2">Tarifas Pessoa Física</h4>
          <p *ngFor="let t of taxesModal.plan?.person_modules | keyvalue">
            {{ t.key | bossModule }}: {{ t.value | currency: 'BRL' }}
          </p>
        </div>
        <div class="column">
          <h4 class="title is-5 mb-2">Tarifas Pessoa Jurídica</h4>
          <p *ngFor="let t of taxesModal.plan?.company_modules | keyvalue">
            {{ t.key | bossModule }}: {{ t.value | currency: 'BRL' }}
          </p>
        </div>
      </div>
    </section>
    <footer class="modal-card-foot is-justify-content-end">
      <button type="button" class="button" (click)="closeModal()">Voltar</button>
    </footer>
  </div>
</div>