<aside class="sidebar has-background-light" [class]="{ 'hidden': !sidebarToggle }">
  <a role="button" class="navbar-burger burger" (click)="toggleSidebar()">
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
  </a>
  <article class="media user">
    <figure class="media-left">
      <div class="user-image">
        {{ user.name.slice(0, 1) }}
      </div>
    </figure>
    <div class="media-content">
      <div class="content">
        <h5>{{ user.name.slice(0, user.name.indexOf(' ')) }}</h5>
        <p>
          <small>{{ user.email }}</small>
        </p>
      </div>
    </div>
    <div class="media-right">
      <a class="has-text-dark"
        (click)="logout()">
        <i class="fas fa-sign-out-alt"></i>
      </a>
    </div>
  </article>
  <br>
  <div class="menu-container">
    <aside class="menu">
      <ul class="menu-list">
        <li class="menu-label">
          Cadastros
        </li>
        <li>
          <a routerLink="restaurantes" routerLinkActive="is-active">
            <i class="fas fa-store-alt"></i>
            Restaurantes
          </a>
        </li>
        <!-- <li>
          <a routerLink="cardapio" routerLinkActive="is-active">
            <i class="fas fa-utensils"></i>
            Cardápio
          </a>
        </li>
        <li>
          <a routerLink="comandas" routerLinkActive="is-active">
            <i class="fas fa-clipboard"></i>
            Comandas
          </a>
        </li>
        <br>
        <li class="menu-label">
          Acompanhamento
        </li>
        <li>
          <a routerLink="pedidos" routerLinkActive="is-active">
            <i class="fas fa-shopping-cart"></i>
            Pedidos
          </a>
        </li> -->
      </ul>
    </aside>
  </div>
</aside>
<div class="content-container">
  <router-outlet></router-outlet>
</div>
