<aside class="sidebar has-background-dark has-text-light" [class]="{ 'hidden': !sidebarToggle }">
  <a role="button" class="navbar-burger burger" (click)="toggleSidebar()">
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
  </a>
  <article class="media user">
    <figure class="media-left">
      <div class="user-image">
        {{ user.name.slice(0, 1) }}
      </div>
    </figure>
    <div class="media-content">
      <div class="content has-text-white">
        <h5 class="has-text-white">{{ user.name.slice(0, user.name.indexOf(' ')) }}</h5>
        <p>
          <small>{{ user.email }}</small>
        </p>
      </div>
    </div>
  </article>
  <br>
  <div class="menu-container">
    <a class="button is-primary is-fullwidth mb-6 mt-5" routerLink="consulta" routerLinkActive="is-active">
      Nova consulta
    </a>
    <aside class="menu">
      <ul class="menu-list">
        <li *ngIf="user.role != 'employee'">
          <a routerLink="/app"  routerLinkActive="is-active" [routerLinkActiveOptions]="{exact: true}">
            <i class="fas fa-chart-pie"></i>
            Dashboard
          </a>
        </li>
        <!-- <li>
          <a routerLink="conta" routerLinkActive="is-active">
            <i class="fas fa-user"></i>
            Minha conta
          </a>
        </li> -->
        <li *ngIf="user.role != 'employee'">
          <a routerLink="usuarios" routerLinkActive="is-active">
            <i class="fas fa-users"></i>
            Usuários
          </a>
        </li>
        <li>
          <a routerLink="consultas" routerLinkActive="is-active">
            <i class="fas fa-search"></i>
            Consultas
          </a>
        </li>
        <!-- <li>
          <a routerLink="relatorios" routerLinkActive="is-active">
            <i class="fas fa-receipt"></i>
            Faturas
          </a>
        </li> -->
        <!-- <li>
          <a routerLink="ajuda" routerLinkActive="is-active">
            <i class="fas fa-question-circle"></i>
            Ajuda
          </a>
        </li> -->
        <li>
          <a href="javascript:;" (click)="logout()">
            <i class="fas fa-sign-out-alt"></i>
            Sair
          </a>
        </li>
      </ul>
    </aside>
  </div>
  <img class="boss-logo" src="/assets/svg/boss-logo-negativo-03.svg" alt="Boss Analytics">
</aside>
<div class="content-container has-background-white-ter">
  <router-outlet></router-outlet>
</div>
