<section class="hero is-primary is-fullheight hero-section">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Boss Analytics
      </h1>
      <h2 class="subtitle">
        Dados corretos na hora certa.
      </h2>
      <div class="buttons is-centered">
        <a href="/cadastrar" class="button is-light is-large">
          Cadastrar
        </a>
        <a href="/entrar" class="button is-light is-large">
          Entrar
        </a>
      </div>
    </div>
  </div>
  <footer class="footer has-text-dark">
    <div class="content has-text-centered">
      <p>
        Feito com <i class="fas fa-heart has-text-danger"></i> pela
        <a target="_blank" href="https://unze.com.br">Unze</a>
      </p>
    </div>
  </footer>
</section>