<section class="hero is-primary">
    <div class="hero-body">
        <h1 class="title">Cardápio</h1>
        <div class="level">
            <div class="level-left">
                <div class="level-item">
                    <div class="control has-icons-left">
                        <div class="select">
                            <select (change)="selectRestaurant($event)">
                                <option [value]="r.id" *ngFor="let r of restaurants">
                                    {{ r.title }}
                                </option>
                            </select>
                        </div>
                        <span class="icon is-left">
                          <i class="fas fa-store-alt"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="level-right">
                <div class="level-item">
                    <button class="button is-light" (click)="openCreateModal()" *ngIf="selectedRestaurantId">
                        Criar Item
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <table class="apparante-table" *ngIf="menuItems.length > 0">
        <thead>
            <tr>
                <th>ID</th>
                <th>Título</th>
                <th>Descrição</th>
                <th>Valor</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cp of menuItems">
                <td>#{{ cp.id }}</td>
                <td>{{ cp.title }}</td>
                <td class="limit-cell">{{ cp.description }}</td>
                <td>{{ cp.amount | currency: 'BRL' }}</td>
                <td>
                    <div class="buttons">
                        <button class="button is-light" (click)="editMenuItem(cp)">
                            Editar
                        </button>
                        <button class="button is-danger is-outlined" (click)="deleteMenuItem(cp)">
                            Excluir
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="empty-message" *ngIf="menuItems.length === 0">
        <div class="icon-container">
            <i class="fas fa-store-alt"></i>
        </div>
        <p>Não encontramos nenhum item</p>
    </div>
</section>

<div class="modal" [class]="{ 'is-active': createModal.open }">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Criar Item do Cardápio</p>
          <button class="delete" aria-label="close" (click)="closeModal()"></button>
        </header>
        <section class="modal-card-body">
            <div class="columns">
                <div class="column">
                    <div class="field">
                        <label class="label">Título</label>
                        <div class="control">
                            <input class="input" type="text" [(ngModel)]="createModal.title">
                        </div>
                    </div>
                </div>
                <div class="column is-4">
                    <div class="field">
                        <label class="label">Valor</label>
                        <div class="control">
                            <input class="input" type="tel" [(ngModel)]="createModal.amount" currencyMask>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field">
                <label class="label">Descrição</label>
                <div class="control">
                    <textarea class="textarea" [(ngModel)]="createModal.description" rows="5"></textarea>
                </div>
            </div>
        </section>
        <footer class="modal-card-foot is-justify-content-end">
            <button class="button" (click)="closeModal()">Cancelar</button>
            <button class="button is-success" (click)="createMenuItem()">Criar</button>
        </footer>
    </div>
</div>

<div class="modal" [class]="{ 'is-active': updateModal.open }">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Editar Item do Cardápio</p>
          <button class="delete" aria-label="close" (click)="closeModal()"></button>
        </header>
        <section class="modal-card-body">
            <div class="columns">
                <div class="column">
                    <div class="field">
                        <label class="label">Título</label>
                        <div class="control">
                            <input class="input" type="text" [(ngModel)]="updateModal.title">
                        </div>
                    </div>
                </div>
                <div class="column is-4">
                    <div class="field">
                        <label class="label">Valor</label>
                        <div class="control">
                            <input class="input" type="tel" [(ngModel)]="updateModal.amount" currencyMask>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field">
                <label class="label">Descrição</label>
                <div class="control">
                    <textarea class="textarea" [(ngModel)]="updateModal.description" rows="5"></textarea>
                </div>
            </div>
        </section>
        <footer class="modal-card-foot is-justify-content-end">
            <button class="button" (click)="closeModal()">Cancelar</button>
            <button class="button is-success" (click)="updateMenuItem()">Salvar</button>
        </footer>
    </div>
</div>