<section class="section">
    <div class="container">
        <h1 class="title is-3">Dashboard</h1>
        <p class="subtitle">Acompanhe números e informações em tempo real.</p>
        <div class="columns mt-6 is-multiline">
            <div class="column is-3">
                <div class="box">
                    <h3 class="title is-2 mb-2">{{ reportsTotal }}</h3>
                    <p class="has-text-light">Análises Realizadas</p>
                </div>
            </div>
            <div class="column is-3"> 
                <div class="box">
                    <h3 class="title is-2 mb-2 has-text-primary">{{ reportsTotalPF }}</h3>
                    <p class="has-text-light">Análises Pessoa Física</p>
                </div>
            </div>
            <div class="column is-3">
                <div class="box">
                    <h3 class="title is-2 mb-2 has-text-link">{{ reportsTotalPJ }}</h3>
                    <p class="has-text-light">Análises Pessoa Jurídica</p>
                </div>
            </div>
            <div class="column is-3">
                <div class="box">
                    <h3 class="title is-2 mb-2 has-text-light">{{ investedAmount | currency: 'BRL' }}</h3>
                    <p class="has-text-light">Valor Investido</p>
                </div>
            </div>
            <div class="column is-6">
                <h2 class="title is-4">Tipos de Análise</h2>
                <div class="box">
                    <div class="columns">
                        <div class="column">
                            <canvas baseChart
                                [data]="doughnutChartData"
                                [labels]="doughnutChartLabels"
                                [options]="doughnutChartOptions"
                                [colors]="doughnutChartColors"
                                [chartType]="doughnutChartType"
                                [legend]="true">
                            </canvas>
                        </div>
                        <!-- <div class="column">
                            
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="column is-6">
                <h2 class="title is-4">Nº de Análises</h2>
                <div class="box">
                    
                </div>
            </div>
            <div class="column is-6">
                <h2 class="title is-4">Valor de Crédito Solicitado x Aprovado (R$)</h2>
                <div class="box">
                    
                </div>
            </div>
            <div class="column is-6">
                <h2 class="title is-4">Recomendações %</h2>
                <div class="box">
                    
                </div>
            </div>
            <div class="column is-6">
                <h2 class="title is-4">Tickect Médio de solicitação de Crédito</h2>
                <div class="box">
                    
                </div>
            </div>
            <div class="column is-6">
                <h2 class="title is-4">Taxa de Aprovação x Faixa Etária</h2>
                <div class="box">
                    
                </div>
            </div>
            <div class="column is-12">
                <h2 class="title is-4">Mapa de Análises</h2>
                <div class="box">

                </div>
            </div>
        </div>
    </div>
</section>