<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <h1 class="title is-3">Planos e Tarifas</h1>
                <p class="subtitle">Gerencie os planos e tarifas Boss Analytics.</p>
            </div>
            <div class="column has-text-right">
                <button class="button is-dark" (click)="openCreateModal()">
                    Adicionar novo Plano
                </button>
            </div>
        </div>
        <div class="table-container mt-6">
            <table class="boss-an-table" *ngIf="plans.length > 0">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Valor</th>
                        <th>Descrição</th>
                        <th>Situação</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let p of plans">
                        <td>{{ p.name }}</td>
                        <td>{{ p.price | currency: 'BRL' }}</td>
                        <td>{{ p.itens.join(', ') }}</td>
                        <td>
                            <span *ngIf="p.status == 'inactive'" class="tag">Desativado</span>
                            <span *ngIf="p.status == 'active'" class="tag is-primary is-light">Ativo</span>
                        </td>
                        <td>
                            <div class="buttons">
                                <button class="button" (click)="editPlan(p)">
                                    Editar
                                </button>
                                <button class="button is-success" (click)="reactivatePlan(p)" *ngIf="p.status == 'inactive'">
                                    Reativar
                                </button>
                                <button class="button is-danger" (click)="deletePlan(p)" *ngIf="p.status == 'active'">
                                    Desativar
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- <nav class="pagination is-centered" role="navigation" aria-label="pagination" *ngIf="plans.length > 0">
            <ul class="pagination-list">
                <li><a class="pagination-link" aria-label="Ir para página 1" (click)="goToPage(1)" *ngIf="pagination.currentPage > 1">1</a></li>
                <li><span class="pagination-ellipsis" *ngIf="pagination.currentPage > 1">&hellip;</span></li>
                <li><a class="pagination-link" (click)="goToPage(pagination.currentPage - 1)" *ngIf="pagination.currentPage - 1 > 0">{{ pagination.currentPage - 1 }}</a></li>
                <li><a class="pagination-link is-current" aria-current="page">{{ pagination.currentPage }}</a></li>
                <li><a class="pagination-link" (click)="goToPage(pagination.currentPage + 1)" *ngIf="pagination.currentPage + 1 <= pagination.maxPages">{{ pagination.currentPage + 1 }}</a></li>
                <li><span class="pagination-ellipsis" *ngIf="pagination.currentPage < pagination.maxPages">&hellip;</span></li>
                <li><a class="pagination-link" (click)="goToPage(pagination.maxPages)" *ngIf="pagination.currentPage < pagination.maxPages">{{ pagination.maxPages }}</a></li>
            </ul>
        </nav> -->
        <div class="empty-message" *ngIf="plans.length === 0">
            <div class="icon-container">
                <i class="fas fa-dollar-sign"></i>
            </div>
            <p>Não encontramos nenhum plano</p>
        </div>
    </div>
</section>

<div class="modal" [class]="{ 'is-active': createModal.open }">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Cadastrar Plano</p>
          <button class="delete" aria-label="close" (click)="closeModal()"></button>
        </header>
        <section class="modal-card-body">
            <form [formGroup]="createPlanForm" (ngSubmit)="createPlan()" id="createPlanForm">
                <div class="field">
                    <label class="label">Nome do plano</label>
                    <div class="control">
                        <input class="input input-light" type="text" formControlName="name" [disabled]="loading">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Valor mínimo mensal</label>
                    <div class="control">
                        <input class="input input-light" type="tel" formControlName="price" currencyMask [disabled]="loading">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Descrição (separar itens por vírgula)</label>
                    <div class="control">
                        <textarea class="textarea input-light" type="tel" formControlName="itens" [disabled]="loading" placeholder="Item 1, Item 2, Item 3"></textarea>
                    </div>
                </div>
                <div class="columns">
                    <div class="column" formGroupName="person_modules">
                        <h4 class="title is-5 mb-2 mt-4">Tarifas Pessoa Física</h4>
                        <div class="field">
                            <label class="label">Dados Cadastrais</label>
                            <div class="control">
                                <input class="input input-light" type="tel" currencyMask formControlName="register_data">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Perfil Financeiro</label>
                            <div class="control">
                                <input class="input input-light" type="tel" currencyMask formControlName="financial_data">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Dados Comportamentais</label>
                            <div class="control">
                                <input class="input input-light" type="tel" currencyMask formControlName="behavior_data">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Restritivos</label>
                            <div class="control">
                                <input class="input input-light" type="tel" currencyMask formControlName="restrict">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Certidões</label>
                            <div class="control">
                                <input class="input input-light" type="tel" currencyMask formControlName="ondemand">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">PEFIN/REFIN Boa Vista</label>
                            <div class="control">
                                <input class="input input-light" type="tel" currencyMask formControlName="boavista">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">PEFIN/REFIN Serasa</label>
                            <div class="control">
                                <input class="input input-light" type="tel" currencyMask formControlName="serasa">
                            </div>
                        </div>
                    </div>
                    <div class="column" formGroupName="company_modules">
                        <h4 class="title is-5 mb-2 mt-4">Tarifas Pessoa Jurídica</h4>
                        <div class="field">
                            <label class="label">Dados Cadastrais</label>
                            <div class="control">
                                <input class="input input-light" type="tel" currencyMask formControlName="register_data">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Perfil Financeiro</label>
                            <div class="control">
                                <input class="input input-light" type="tel" currencyMask formControlName="financial_data">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Dados Comportamentais</label>
                            <div class="control">
                                <input class="input input-light" type="tel" currencyMask formControlName="behavior_data">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Restritivos</label>
                            <div class="control">
                                <input class="input input-light" type="tel" currencyMask formControlName="restrict">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Certidões</label>
                            <div class="control">
                                <input class="input input-light" type="tel" currencyMask formControlName="ondemand">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">PEFIN/REFIN Boa Vista</label>
                            <div class="control">
                                <input class="input input-light" type="tel" currencyMask formControlName="boavista">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">PEFIN/REFIN Serasa</label>
                            <div class="control">
                                <input class="input input-light" type="tel" currencyMask formControlName="serasa">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </section>
        <footer class="modal-card-foot is-justify-content-end">
            <button type="button" class="button" (click)="closeModal()" [disabled]="loading">Cancelar</button>
            <button type="submit" form="createPlanForm" class="button is-success" [class]="{ 'is-loading': loading }" [disabled]="loading || createPlanForm.invalid">Cadastrar</button>
        </footer>
    </div>
</div>

<div class="modal" [class]="{ 'is-active': updateModal.open }">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Editar Plano</p>
          <button class="delete" aria-label="close" (click)="closeModal()"></button>
        </header>
        <section class="modal-card-body">
            <form [formGroup]="updatePlanForm" (ngSubmit)="updatePlan()" id="updatePlanForm">
                <div class="field">
                    <label class="label">Nome do plano</label>
                    <div class="control">
                        <input class="input input-light" type="text" formControlName="name" [disabled]="loading">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Valor mínimo mensal</label>
                    <div class="control">
                        <input class="input input-light" type="tel" formControlName="price" currencyMask [disabled]="loading">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Descrição (separar itens por vírgula)</label>
                    <div class="control">
                        <textarea class="textarea input-light" type="tel" formControlName="itens" [disabled]="loading" placeholder="Item 1, Item 2, Item 3"></textarea>
                    </div>
                </div>
                <div class="columns">
                    <div class="column" formGroupName="person_modules">
                        <h4 class="title is-5 mb-2 mt-4">Tarifas Pessoa Física</h4>
                        <div class="field">
                            <label class="label">Dados Cadastrais</label>
                            <div class="control">
                                <input class="input input-light" type="tel" currencyMask formControlName="register_data">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Perfil Financeiro</label>
                            <div class="control">
                                <input class="input input-light" type="tel" currencyMask formControlName="financial_data">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Dados Comportamentais</label>
                            <div class="control">
                                <input class="input input-light" type="tel" currencyMask formControlName="behavior_data">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Restritivos</label>
                            <div class="control">
                                <input class="input input-light" type="tel" currencyMask formControlName="restrict">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Certidões</label>
                            <div class="control">
                                <input class="input input-light" type="tel" currencyMask formControlName="ondemand">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">PEFIN/REFIN Boa Vista</label>
                            <div class="control">
                                <input class="input input-light" type="tel" currencyMask formControlName="boavista">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">PEFIN/REFIN Serasa</label>
                            <div class="control">
                                <input class="input input-light" type="tel" currencyMask formControlName="serasa">
                            </div>
                        </div>
                    </div>
                    <div class="column" formGroupName="company_modules">
                        <h4 class="title is-5 mb-2 mt-4">Tarifas Pessoa Jurídica</h4>
                        <div class="field">
                            <label class="label">Dados Cadastrais</label>
                            <div class="control">
                                <input class="input input-light" type="tel" currencyMask formControlName="register_data">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Perfil Financeiro</label>
                            <div class="control">
                                <input class="input input-light" type="tel" currencyMask formControlName="financial_data">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Dados Comportamentais</label>
                            <div class="control">
                                <input class="input input-light" type="tel" currencyMask formControlName="behavior_data">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Restritivos</label>
                            <div class="control">
                                <input class="input input-light" type="tel" currencyMask formControlName="restrict">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Certidões</label>
                            <div class="control">
                                <input class="input input-light" type="tel" currencyMask formControlName="ondemand">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">PEFIN/REFIN Boa Vista</label>
                            <div class="control">
                                <input class="input input-light" type="tel" currencyMask formControlName="boavista">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">PEFIN/REFIN Serasa</label>
                            <div class="control">
                                <input class="input input-light" type="tel" currencyMask formControlName="serasa">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </section>
        <footer class="modal-card-foot is-justify-content-end">
            <button type="button" class="button" (click)="closeModal()" [disabled]="loading">Cancelar</button>
            <button type="submit" form="updatePlanForm" class="button is-success" [class]="{ 'is-loading': loading }" [disabled]="loading || updatePlanForm.invalid">Salvar</button>
        </footer>
    </div>
</div>
